Repository Yuukin256/typescript-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

chore: yarn バージョンアップ
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: npx prettier --write

chore: Linter設定追加
  .eslintrc.yml
  .github/workflows/ci.yml
  .prettierignore
  package.json
Due: npx prettier --write

chore: devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  package.json
  yarn.lock
Due: npx prettier --write

fix: container name
  .devcontainer/devcontainer.json
Due: npx prettier --write

chore: devcontainer 設定を修正
  .devcontainer/devcontainer.json
Due: npx prettier --write

chore: update packages
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: npx prettier --write

chore: ts-node -> tsx
  package.json
  yarn.lock
Due: npx prettier --write

chore: eslintのルールを調整
  .eslintrc.yml
  package.json
  yarn.lock
Due: npx prettier --write

chore: スタイル設定を変更
  .devcontainer/devcontainer.json
  .editorconfig
  .eslintrc.yml
  .prettierrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  jest.config.js
  package.json
  tests/tsconfig.json
  tsconfig.eslint.json
  tsconfig.json
Due: npx eslint --fix, npx prettier --write

chore: yarnからpnpmに移行
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: npx prettier --write

fix: ci設定を修正
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

chore: yarnファイルを削除
  .yarn/releases/yarn-3.4.1.cjs
Due: none

Path conditions:
  npx eslint --fix: any of: *.{js,ts,jsx,tsx}
  npx prettier --write: any of: *.{js,ts,jsx,tsx,json}
